*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

body{
    background: linear-gradient(180deg, #0f0f1a 0%, #1a1a2e 100%);
}


.Registration-Form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* убирает скролл */
}

.Registration-Form-content{
    border-radius: 10px;
    color: #fff;
    
}

.Registration-Form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(90deg, #FFFFFF 0%, #BEDBFF 50%, #2563EB 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding: 32px;
    margin-bottom: 36px;

}


.Registration-Form-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 32px 32px 32px;
    border-radius: 16px;

}
.Registration-Form-form input{
    width: 372px;
    margin-bottom: 16px;
    background-color: #2A2A4E;
    border: none;
    font-size: 14px;
    padding: 14px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 10px;
    outline: none;
}

#Registration-Form-form-submit{
    background: linear-gradient(90deg, #2563eb 0%, #1447e6 100%);
    color: #ffffff;
    /* padding: 26px; */
    border-radius: 12px;
    margin-top: 16px;
    cursor: pointer;
}

.Registration-Form-form input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.ForgotPasswordPage-form-text{
    color: var(--secondary-white);
    text-decoration: none;
    margin: 8px 0 8px 0;
}
.Registration-Form-form-title{
    text-align: center;
    padding: 32px;
    font-size: 16px;
    line-height: 24px;  
    color: var(--primary-white);
}
.Registration-Form-form-text{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 16px;
    text-decoration: none;
}

.Registration-Form-form-text-p{
    color: var(--secondary-white);
    text-align: center;
}
.Registration-Form-form-text-a{
    color: #2563EB;
    text-decoration: none;
    text-align: center;
}


